<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cleva</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>2ol3ogqp6tg07flu9pn4o6kdsa856vv-991769937344</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1005676287534165</string>
	<key>FacebookDisplayName</key>
	<string>Cleva</string>
	<key>GIDClientID</key>
	<string>443739967199-vv658asdk6o4knp9ulf70gt6pqgo3lo2.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>REVERSE_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443739967199-aqt4tluhchtf41d9vue0djdcs956i03b</string>
	<key>UIAppFonts</key>
	<array>
		<string>Open_Sans_bold.ttf</string>
		<string>Open_Sans_regular.ttf</string>
		<string>Open_Sans_semibold.ttf</string>
		<string>Open_Sans.ttf</string>
		<string>Outfit_bold.ttf</string>
		<string>Outfit_light.ttf</string>
		<string>Outfit_medium.ttf</string>
		<string>Outfit_regular.ttf</string>
		<string>Outfit_semibold.ttf</string>
		<string>Outfit.ttf</string>
		<string>Poppins_regular.ttf</string>
		<string>Poppins.ttf</string>
		<string>Source_Serif_Pro_black.ttf</string>
		<string>Source_Serif_Pro_bold_italic.ttf</string>
		<string>Source_Serif_Pro_bold.ttf</string>
		<string>Source_Serif_Pro_light_italic.ttf</string>
		<string>Source_Serif_Pro_regular.ttf</string>
		<string>Source_Serif_Pro_semibold.ttf</string>
		<string>Source_Serif_Pro.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
